.blog-intro {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
  margin-left: 8em;
  margin-right: 8em;
  text-align: justify;
}
.blog-intro a {
  color: #fff;
  opacity: 1.0;
}
.back-btn {
  margin: 0;
}
.blog-foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8em;
  opacity: 0.8;
}
.top-btn {
  display: initial;
  margin-bottom: 1em;
}
@media screen and (max-width: 768px) {
  .blog-intro {
    margin: auto;
    text-align: center;
    padding: 1em;
  }
  .blog-foot {
    flex-direction: column;
    margin-top: 1em;
  }
  .blog-foot p {
    margin: 0.2em;
    font-size: 1em;
  }
  .blog-main-title, .main-content {
    font-size: 0.9em;
  }
  .top-btn {
    display: none;
  }
}

.main-content :first-child{
  margin-top: auto;
}

.blog-main-title {
  font-size: 1.5em;
}
.page-divider {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #ddd;
  height: 8px;
  margin-top: 1em;
}
.page-divider .one {
  position: relative;
  top: -9px;
  display: block;
  background: #ddd;
  width: 18px;
  height: 18px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.page-divider .two {
    position: relative;
    top: -26px;
    display: block;
    background: #30757A;
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.alter-devider {
  margin-bottom: 2em;
}
.alter-devider .two {
  background: #ffffff;
}
.blog-upper-title {
  margin: auto;
  display: table;
}
.center-footer {
  text-align: center;
}
.footer-btns {
  padding: 0.5em;
}
