<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <h3 class="blog-intro">Hi, I’m Jogendra, pre-final year student at Indian Institute of Technology (BHU) Varanasi. I write about Software Development, Version Control System and Open Source.  You can also find me on <a href="" target="_blank">GitHub</a> and <a href="" target="_blank">Twitter</a>.</h3>
  <a href="{{ site.author.url }}" class="btn">Home</a>
  <a href="#" class="btn">About Me</a>
  <a href="{{ site.author.url }}/projects" class="btn">Projects</a><br>
  <!-- <a href="https://github.com/jogendra" target="_blank" class="btn"><i class="fa fa-github fa-2x"></i></a>
  <a href="https://www.linkedin.com/in/jogendrasingh24/" target="_blank" class="btn"><i class="fa fa-linkedin fa-2x"></i></a>
  <a href="https://twitter.com/imjog24" target="_blank" class="btn"><i class="fa fa-twitter fa-2x"></i></a> -->
</section>
