<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="{{ site.author.url }}" class="btn">Home</a>
  <a href="#" class="btn">About Me</a>
  <a href="{{ site.author.url }}/projects" class="btn">Projects</a>
  <div>
    <a href="https://github.com/jogendra" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/jogendrasingh24/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://twitter.com/imjog24" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
</section>
