<footer class="site-footer center-footer">
  <span class="site-footer-owner"><a href="{{ site.baseurl }}/">{{ site.title }}</a> is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</span>
  <span class="site-footer-credits">Design and Developed in <i class="fa fa-heart"></i> with <i class="fa fa-coffee"></i> and <i class="fa fa-code"></i></span>
  <br>
  <a href="https://github.com/jogendra" target="_blank" class="footer-btns"><i class="fa fa-github"></i></a>
  <a href="https://www.linkedin.com/in/jogendrasingh24/" target="_blank" class="footer-btns"><i class="fa fa-linkedin"></i></a>
  <a href="https://twitter.com/imjog24" target="_blank" class="footer-btns"><i class="fa fa-twitter"></i></a>
  <a href="https://www.facebook.com/jogendra.singh24" target="_blank" class="footer-btns"><i class="fa fa-facebook"></i></a>
  <a href="https://www.instagram.com/jogendra.singh_/" target="_blank" class="footer-btns"><i class="fa fa-instagram"></i></a>
</footer>
