<section class="page-header">
  {% if page.type %}
  <a href="{{ site.author.url }}" class="btn top-btn">Home</a>
  <a href="{{ site.baseurl }}/" class="btn top-btn">Blogs</a>
  <a href="#" class="btn top-btn">About Me</a>
  <a href="{{ site.author.url }}/projects" class="btn top-btn">Projects</a><br>
  <h1 class="project-name">{{ page.title }}</h1>
  {% else %}
  <h1 class="project-name">{{ site.title }}</h1>
  <span class="page-divider">
    <span class="one"></span>
    <span class="two"></span>
  </span>
  {% endif %}
  {% if page.tagline %}
  <h2 class="project-tagline">{{ page.tagline }}</h2>
  {% else %}
  <h2 class="blog-intro">Hi, I’m Jogendra, pre-final year student at Indian Institute of Technology (BHU) Varanasi. I write about Software Development, Version Control System and Open Source.  You can also find me on <a href="" target="_blank">GitHub</a> and <a href="" target="_blank">Twitter</a>.</h2>
  <a href="{{ site.author.url }}" class="btn">Home</a>
  <a href="#" class="btn">About Me</a>
  <a href="{{ site.author.url }}/projects" class="btn">Projects</a><br>
  {% endif %}
</section>
